/* =========================
   Base Reset & Fonts
   ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #111827;
  background: #FBF8F2;
  transition: background-color 0.5s ease, color 0.5s ease;
}
body.dark-mode {
  background-color: #001f3f;
  color: #f0f0f0;
}
body:not(.dark-mode) .experience-item:hover {
  color: #001f3f;
}

/* Dark mode hover text color (مثلاً تخليه فاتح عشان يبان) */
body.dark-mode .experience-item:hover {
  color: #f0f0f0;
}
html {
  scroll-behavior: smooth;
}
.main-title {
  color: #000;
}


